<div class="body container">
  <!-- This is Body Component -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-my-modal>
    <div id="myTitle">Modal Title From Body</div>
    <img width="400" height="300"
      src="https://repository-images.githubusercontent.com/314186076/79a18fff-1aeb-4a12-9340-db81b383b5e7" alt="">
  </app-my-modal> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-pipe-demo></app-pipe-demo> -->
  <!-- <app-parent-demo></app-parent-demo> -->
  <!-- <button (click)="flag=!flag">Toggle Flag - {{flag}}</button>
  @if(flag){bo
    <app-demo1></app-demo1>
  }@else {
    <app-demo2></app-demo2>
  } -->
  <app-http-demo1></app-http-demo1>
</div>
